body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, purple 1%, rgb(17, 0, 17) 100%);
  color: darkgray;
}

.nav-link {
  color: darkgray;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  padding: 25px;
  margin: 10px;
}