body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}


.navbar {
  display: flex;
  align-items: center;
  margin: auto;
  background: linear-gradient(180deg, purple 1%, rgb(17, 0, 17) 100%);
  color: white;
}

.navbar h2 {
  padding: 20px;
  margin: auto;
}