body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(45, 45, 45);
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, purple 1%, rgb(45, 45, 45) 100%);
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  padding: 25px;
  margin: 10px;
  transition: all .2s ease-in-out; 
}

.nav-link:hover {
  transform: scale(1.2);
}

.home {
  margin: auto;
  width: 1100px;
  height: 550px;
  border-radius: 10px;
  background: rgb(45, 45, 45);
  box-shadow: 0 0 10px 10px purple;
  color: white;
}

.home > h1 {
  padding-top: 10px;
  padding-left: 25px;
}

h1 span {
  border-bottom: 4px solid purple;
  padding-bottom: 10px;
  margin-bottom: 0;
  font-size: 32px;
}

.home > p {
  padding-top: 10px;
  margin-top: 0;
  padding-left: 40px;
  padding-right: 18px;
  font-size: 18px;
}