@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: theme('colors.background');
}

.pages{
  max-width: 1400px;
  margin: auto;
}

.navbar {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, purple 1%, rgb(45, 45, 45) 100%);
}

.sm\:navbar {
  display: none;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  padding: 25px;
  margin: 10px;
  transition: all .2s ease-in-out; 
}

.nav-link:hover {
  transform: scale(1.2);
}

.main-content {
  border-radius: 10px;
  box-shadow: 0 0 10px 10px purple;
  color: white;
}

.main-content--h1 {
  padding-top: 10px;
  padding-left: 25px;
  font-size: 24px;
}

.main-title {
  border-bottom: 4px solid purple;
  margin-bottom: 0;
  font-size: 32px;
}

.title-date {
  padding-left: 10px;
  font-size: 18px;
  color: white;
}

.default-text {
  padding-top: 10px;
  margin-top: 0;
  padding-left: 40px;
  padding-right: 18px;
  font-size: 18px;
  padding-bottom: 15px;
}

.degree {
  padding-top: 0px;
  padding-bottom: 20px;
}

.degree-uni {
  font-size: 20px;
  padding-left: 40px;
  padding-top: 6px;
  padding-bottom: 10px;
  margin: auto;
}

.degree-coursework--h5 {
  padding-left: 40px;
  font-size: 22px;
  margin: 0px;
  text-decoration: underline;
}

.course {
  padding-top: 6px;
  padding-left: 50px;
  font-size: 18px;
  margin: 0px;
}

.course-title {
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  font-style: italic;
  color: white;
}

.course-description {
  font-size: 16px;
  margin: 0px;
  padding: 8px;
  padding-bottom: 2px;
  margin: 0px;
  color: white;
}

.company {
  @apply underline;
  padding-left: 35px;
  padding-bottom: 6px;
  padding-top: 10px;
  font-size: 22px;
  color: white;
}

.job-title {
  padding-left: 50px;
  padding-top: 0px;
  margin: 0px;
  font-size: 18px;
  font-style: italic;
}

.job-description {
  padding-top: 10px;
  margin-top: 0;
  padding-left: 50px;
  padding-right: 18px;
  font-size: 18px;
  padding-bottom: 15px;
}